* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* UTILITIES */

.debug {
  border: 1px solid black;
  background-color: rgba(255, 0, 0, .2);
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

/* MAIN */

main .top-bar,
main .main-section {
  background-color: black;
}

main .top-bar {
  height: 100px;
}

main .main-section {
  height: calc(100vh - 210px);
  /* margin: 5px auto; da capire se è da lasciare */
  overflow-y:auto;
  /* margin: 0 5px; */
}

main .bottom-bar {
  height: 110px;
  background-color: #222222;
}


/* ONLINE-USER BOX */

.main-section .online-user {
  position: relative;
}

.main-section .online-user,
.online-user .img-box {
  width: 300px;
  height: 200px;
}

.online-user .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.online-user .name-badge {
  position: absolute;
  /* display: inline-block; */
  height: 30px;
  left: 0;
  bottom: 0;
  color: white;
  padding: 3px 6px;
  background-color: rgba(0, 0, 0, .8);
}

.online-user .name-badge span {
  font-size: 0.9rem;
  line-height: 26px;
}

.online-user .name-badge span i {
  font-size: 1rem;
}